<div style="text-align:center">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>{{ title }}</span>
      <app-import-clip></app-import-clip>
      <!-- <button mat-raised-button (click)="openImportClip()">Import clip</button> -->

      <mat-form-field class="search">
        <input matInput [(ngModel)]="searchText" placeholder="Search">
      </mat-form-field>

    </mat-toolbar-row>
  </mat-toolbar>

  <div cdkDropList (cdkDropListDropped)=dropped($event) fxLayout="row wrap" fxLayout.lt-sm="column"
    fxLayoutAlign="flex-start">
    <div *ngIf="clips">
      <div *ngFor="let clip of clips | filter: {name: searchText};" cdkDrag fxFlex="0 1 calc(33.3% - 32px)">
        <div *cdkDragPlaceholder></div>
        <app-clip [clip]="clip"></app-clip>
      </div>
    </div>
  </div>

</div>
