<div *ngIf="clip">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{clip.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section>
        <mat-progress-bar [color]="color" mode="determinate" [value]="value"></mat-progress-bar>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <audio id="audio-{{clip.uid}}" src="{{clip.path}}" (timeupdate)=updateProgress(clip.uid)>play</audio>
      <button mat-button (click)=playPause(clip.uid) (dblclick)=reset(clip.uid)>PLAY</button>
    </mat-card-actions>
  </mat-card>
</div>