<div class="example-container">

    <form class="example-container" [formGroup]="options">
        <div>
            <mat-radio-group formControlName="disableOther">
                <br>
                <mat-radio-button value="true">Import local file(s)</mat-radio-button>
                <br>
                <mat-radio-button value="false">Download</mat-radio-button>
            </mat-radio-group>
        </div>
    </form>

    <br>

    <mat-form-field [hideRequiredMarker]="options.value.disableOther">
        <button mat-raised-button (click)="importFilesButton.click()">Add a photo</button>
        <input hidden type="file" multiple #importFilesButton (change)="importFiles($event)" />
        <br>
        <input matInput placeholder="Simple placeholder" required>
    </mat-form-field>

</div>
